* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
}

p {
  margin-bottom: 0 !important;
}
/* .container-fluid {
  padding-right: 7% !important;
} */
/* NAVBAR */
nav {
  background-color: #39a2a0;
}

.navbar-collapse {
  flex-grow: unset !important;
}
.fa-lg {
  line-height: normal;
}

/* LANDING PAGE */
#container {
  width: 100vw;
  height: 100vh;
  padding: 0% !important;
  margin: 0% !important;
  /* padding-right: 1rem !important; */
}
.bg-landing {
  display: flex;
  background-image: url('/img/landing.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45%;

  align-items: center;
  justify-content: center;
}

.bg-landing h3 {
  z-index: 1;
  color: white;
}

/* CAROUSEL */
.text-page {
  text-align: center;
  padding-top: 5%;
  width: 100%;
}
.carousel-item {
  height: 100%;
}
.carousel-item img {
  object-fit: cover;
  min-height: 100%;
}

.toggles {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
}

#toggle-btn {
  padding: 0 !important;
  font-size: 0.9rem;
  text-decoration: underline;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 6%;
  background-color: #39a2a0;
}

/* WOMEN PAGE */
.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.col-sm {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

/* FILTERS */
.mt-3 {
  height: 20%;
  margin-top: 0 !important;
}

/* 668px */
@media (max-width: 43em) {
}

/* 992px */
@media (min-width: 62em) {
}
@media (max-width: 62em) {
}
/* 1312px */
@media (max-width: 82em) {
}
